
header{
    width: 100%;
    background-color: #abc4ff;
    margin-top: 0;
}
body{
    margin: 0;
    background-color:#d7e3fc;
    font-family: 'Montserrat Alternates', sans-serif;
}
h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
    font-size: 2rem;
}
h1, h2{
    font-family:Lobster Two, cursive;
    color: #4e148c;
}
h2{
    margin-left: 10%;
    margin-bottom: 1rem;
}
div{
    background-color: #edf2fb;
    width: 75%;
    margin: auto;
    border-radius: 2rem;
}
p{
    width: 80%;
    margin: auto;
}
a{
    display: block;
    text-align: center;
    padding-top: 1.5rem;
}
.end{
    padding-bottom: 3rem;
}
@media (min-width: 630px){}
@media(min-width: 900px){}